In [1]:
import pydbapi
from pydbapi.api import TrinoDB

import os
import pandas as pd
from datetime import datetime, timedelta

In [2]:
host = 'trino.sincetimes.com'
user = 'dingyanlin'
password = '569pJr*caDbQpoiy'
database = 'dow_jpnew_w'
catalog = 'hive'
port = 8443

In [3]:
db = TrinoDB(host, user, password, database, catalog, port=8443, safe_rule=True)

In [4]:
#路径
folder_path = 'D:\我的坚果云\work\Sincetimes_DOW\9999-99-99 DOW 周报 3.0\sqls'
save_path = 'D:\我的坚果云\work\Sincetimes_DOW\9999-99-99 DOW 周报 3.0\data'
file_list_ = os.listdir(folder_path)

file_list = {}
for file_name in file_list_:
    file_path = os.path.join(folder_path, file_name)
    file_name, file_type = os.path.splitext(os.path.basename(file_path))    
    if file_type == '.sql':
        file_list[file_name] = file_path
    
file_list

{'sql01_act_turn': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql01_act_turn.sql',
 'sql01_base': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql01_base.sql',
 'sql02_act_turn': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql02_act_turn.sql',
 'sql02_base': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql02_base.sql',
 'sql03_act_turn': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql03_act_turn.sql',
 'sql03_base': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql03_base.sql',
 'sql04_act_cp': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql04_act_cp.sql',
 'sql04_base': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql04_base.sql',
 'sql05_act_cp': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql05_act_cp.sql',
 'sql05_base': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql05_base.sql',
 'sql06_act_cp': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql06_act_cp.sql',
 'sql07_act_monster': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql07_act_monster.sql',
 'sql08_act_monster': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql08_act_monster.sql',
 'sql09_act_monster': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql09_act_monster.sql',
 'sql10_act_shopping': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql10_act_shopping.sql',
 'sql11_act_shopping': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql11_act_shopping.sql',
 'sql12_act_turnpro': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql12_act_turnpro.sql',
 'sql13_act_turnpro': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql13_act_turnpro.sql',
 'sql14_act_turnpro': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql14_act_turnpro.sql',
 'sql15_act_pearlpaid': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql15_act_pearlpaid.sql',
 'sql16_act_pearlpaid': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql16_act_pearlpaid.sql',
 'sql17_act_sign': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql17_act_sign.sql',
 'sql18_act_sign': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql18_act_sign.sql',
 'sql19_act_furui': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql19_act_furui.sql',
 'sql20_act_furui': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql20_act_furui.sql',
 'sql21_act_god': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql21_act_god.sql',
 'sql22_act_god': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql22_act_god.sql',
 'sql23_act_shop': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql23_act_shop.sql',
 'sql24_act_shop': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql24_act_shop.sql',
 'sql25_act_party': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql25_act_party.sql',
 'sql26_act_party': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql26_act_party.sql',
 'sql27_act_party': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql27_act_party.sql',
 'sql28_act_sea': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql28_act_sea.sql',
 'sql29_act_sea': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql29_act_sea.sql',
 'sql30_act_good': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql30_act_good.sql',
 'sql31_act_good': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql31_act_good.sql',
 'sql32_act_free': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql32_act_free.sql',
 'sql33_act_free': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql33_act_free.sql',
 'sql34_act_soldier': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql34_act_soldier.sql',
 'sql35_act_soldier': 'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql35_act_soldier.sql'}

In [5]:
sql_dict = {
'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql01_base.sql': {'start_date': "'2024-11-01'", 'end_date': "'2025-12-29'"},
'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql02_base.sql': {'start_date': "'2024-10-01'", 'end_date': "'2025-12-29'"},
'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql03_base.sql': {'start_date': "'2024-11-01'", 'end_date': "'2025-12-29'", 'pay_month': "'2024-11-01'"},
'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql04_base.sql': {'start_date': "'2024-10-01'", 'end_date': "'2025-12-29'"},
'D:\\我的坚果云\\work\\Sincetimes_DOW\\9999-99-99 DOW 周报 3.0\\sqls\\sql05_base.sql': {'start_date': "'2024-10-01'", 'end_date': "'2025-12-29'"}    
}

In [6]:
def get_data(db, path, **kwargs):
    dir_path, file_name = os.path.split(path)
    dir_path = dir_path.replace('sqls', '')
    file_name = file_name.split('.')[0]
    print(dir_path, file_name)
    
    result = db.file_exec(path, **kwargs)
    result = result.get('【001】No Description')
    
    sql = db.get_filesqls(path, **kwargs)
    # print(result)
    print(sql)
    data = result.to_dataframe()
    data.to_csv(f'{save_path}/{file_name}_res.csv', index=False)
    # sql = db.get_filesqls(path, **kwargs)
    print(result)
#     for k, v in result.items():
#         file_name = f'{file_name}_res.csv'
        
#         with open(f'{dir_path}/{file_name}', 'w', encoding='utf-8') as f:
#             f.write(v)
    
    return file_name

In [7]:
for path, para in sql_dict.items():
    path = path
    # start_date = para.get('start_date')
    # end_date = para.get('end_date')
    # print(para)
    
    print(f'start {path}')
    get_data(db, path, **para)
    print(f'end {path}')

2025-03-10 10:19:03.113 - MainThread - pydbapi.sql.parse - WARNING - parse.py - 210 - 【Final Arguments】【sql01_base.sql】 Use arguments {'end_date': "'2025-12-29'", 'start_date': "'2024-11-01'"}
2025-03-10 10:19:03.120 - MainThread - pydbapi.db.fileexec - INFO - fileexec.py - 40 - >>> START 【001】No Description
2025-03-10 10:19:03.121 - MainThread - pydbapi.api.trino - INFO - trino.py - 151 - connect TrinoDB(dingyanlin@trino.sincetimes.com:8443/hive.dow_jpnew_w)

start D:\我的坚果云\work\Sincetimes_DOW\9999-99-99 DOW 周报 3.0\sqls\sql01_base.sql
D:\我的坚果云\work\Sincetimes_DOW\9999-99-99 DOW 周报 3.0\ sql01_base

2025-03-10 10:19:29.371 - MainThread - pydbapi.db.fileexec - INFO - fileexec.py - 49 - ==================End Job 【sql01_base.sql】, cost 26.27 seconds==================
2025-03-10 10:19:29.374 - MainThread - pydbapi.sql.parse - WARNING - parse.py - 210 - 【Final Arguments】【sql01_base.sql】 Use arguments {'end_date': "'2025-12-29'", 'start_date': "'2024-11-01'"}

({'end_date': "'2025-12-29'", 'start_date': "'2024-11-01'"}, {'【001】No Description': "with month_tag as(\nselect role_id, month, is_test, pay_tag\nfrom hive.dow_jpnew_w.dws_user_info_mi\n), \n\nuser_daily as(\nselect a.date, a.role_id, \nb.is_pay, a.money, a.web_money, \na.money * 0.052102 as money_rmb, a.web_money * 0.052102 as webmoney_rmb, \na.core_add, a.core_cost, b.core_end, \na.sincetimes_add, a.sincetimes_cost, b.sincetimes_end\nfrom hive.dow_jpnew_w.dws_user_daily_di a\nleft join hive.dow_jpnew_w.dws_user_daily_derive_di b\non a.role_id = b.role_id and a.date = b.date\nleft join hive.dow_jpnew_w.dws_user_info_di z\non a.role_id = z.role_id \nwhere a.part_date >= '2024-11-01'\nand a.part_date <= '2025-12-29'\nand a.is_test is null\n), \n\ndate_process_cal01 as(\nselect date, date_trunc('month', date) as month, \nlast_day_of_month(date) as last_of_month, \ndate_trunc('month', date_add('day', 6, date_trunc('week', date))) as natualweek_turn_month, \ndate_trunc('week', date) as start_natualweek, \ndate_add('day', 6, date_trunc('week', date)) as end_natualweek, \n7-day_of_week(date) as sunday_diff, \nday_of_week(date)-1 as monday_diff, \nrole_id, is_pay, money_rmb, webmoney_rmb, \ncore_add, core_cost, core_end, \nsincetimes_add, sincetimes_cost, sincetimes_end\nfrom user_daily\n), \n\ndate_process_cal02 as(\nselect date, month, \nlast_of_month, natualweek_turn_month, \nstart_natualweek, end_natualweek, \nsunday_diff, monday_diff, \n(case when date = month then date \nwhen date_add('day', -monday_diff, date) < month then month\nelse start_natualweek end) as start_week, \n(case when date = last_of_month then date \nwhen date_add('day', sunday_diff, date) > last_of_month then last_of_month\nelse date_add('day', sunday_diff, date) end) as end_week, \nrole_id, is_pay, money_rmb, webmoney_rmb, \ncore_add, core_cost, core_end, \nsincetimes_add, sincetimes_cost, sincetimes_end\nfrom date_process_cal01\n), \n\ndate_process_info as(\nselect date, a.month, \nnatualweek_turn_month, start_natualweek, end_natualweek, \nstart_week, end_week, \nconcat(date_format(start_natualweek, '%m%d'), '-', date_format(end_natualweek, '%m%d')) as natual_week, \nconcat(date_format(start_week, '%m%d'), '-', date_format(end_week, '%m%d')) as week, \na.role_id, coalesce(c.pay_tag, '未活跃') as last1_paytag, is_pay, money_rmb, webmoney_rmb, \ncore_add, core_cost, core_end, \nsincetimes_add, sincetimes_cost, sincetimes_end\nfrom date_process_cal02 a\nleft join month_tag c\non a.role_id = c.role_id and a.natualweek_turn_month = date_add('month', 1, c.month)\n), \n\ncore_log_base as(\nselect part_date, date(part_date) as date, event_time, \nrole_id, open_id, adid, \nzone_id, vip_level, level, rank_level, \nreason, event_type, \ncoalesce(free_num, 0) as free_num, coalesce(paid_num, 0) as paid_num, \ncoalesce(free_end, 0) as free_end, coalesce(paid_end, 0) as paid_end\nfrom hive.dow_jpnew_r.dwd_gserver_corechange_live\nwhere part_date >= '2024-11-01'\nand part_date <= '2025-12-29'\nand reason != '638'\n), \n\ncore_log as(\nselect part_date, date, event_time, \nrole_id, open_id, adid, \nzone_id, vip_level, level, rank_level, reason, \n(case when event_type = 'gain' then free_num + paid_num else null end) as core_add, \n(case when event_type = 'cost' then free_num + paid_num else null end) as core_cost\nfrom core_log_base\n), \n\ncore_info as(\nselect part_date, date, role_id, \nsum(case when reason in('4', '933', '192', '399', '362', '307', '932', '20300', '10052', '10079', '194', '245', '937', '19601', '19602') then core_add else null end) as paid_add, \nsum(case when reason in('387', '601', '602', '196', '310', '372', '239', '13001', '207', '240', '191', '193', '305', '101', '608', '678', '306', '2', '311', '680', '171', '17001', '10071', '354', '103') then core_add else null end) as free_add, \nsum(case when reason in('15', '316') then core_add else null end) as special_add, \nsum(case when reason not in ('4', '933', '192', '399', '362', '307', '932', '20300', '10052', '10079', '194', '245', '937', '19601', '19602', '15', '316', '387', '601', '602', '196', '310', '372', '239', '13001', '207', '240', '191', '193', '305', '101', '608', '678', '306', '2', '311', '680', '171', '17001', '10071', '354', '103') then core_add else null end) as other_add, \nsum(case when reason not in('388', '389') then core_cost else null end) as special_cost, \nsum(case when reason in('388', '389') then core_cost else 0 end) as other_cost\nfrom core_log\ngroup by 1, 2, 3\n), \n\ndaily_info as(\nselect a.date, a.month, \na.natualweek_turn_month, a.start_natualweek, a.end_natualweek, \na.start_week, a.end_week, a.natual_week, a.week, \na.role_id, a.last1_paytag, a.is_pay, a.money_rmb, a.webmoney_rmb, \na.core_add, a.core_cost, a.core_end, \na.sincetimes_add, a.sincetimes_cost, a.sincetimes_end, \nb.paid_add, b.free_add, b.special_add, \nb.other_add, b.special_cost, b.other_cost,  \nrow_number() over(partition by a.role_id, a.natual_week order by a.date desc) as rn\nfrom date_process_info a\nleft join core_info b\non a.role_id = b.role_id and a.date = b.date\n), \n\nnatualweekly_info as(\nselect natual_week, role_id, \nsum(is_pay) as natural_paycount\nfrom daily_info\ngroup by 1, 2\n)\n\nselect a.date, a.month, \na.natualweek_turn_month, a.start_natualweek, a.end_natualweek, \na.start_week, a.end_week, a.natual_week, a.week, \na.role_id, a.last1_paytag, \na.is_pay, (case when rn = 1 and b.natural_paycount > 0 then 1 else null end) as is_weeklypay, \na.money_rmb, a.webmoney_rmb, \na.core_add, a.core_cost, a.core_end, \na.sincetimes_add, a.sincetimes_cost, a.sincetimes_end, \na.paid_add, a.free_add, a.special_add, \na.other_add, a.special_cost, a.other_cost, \n1 as dau, (case when rn = 1 then 1 else null end) as wau, rn\nfrom daily_info a\nleft join natualweekly_info b\non a.role_id = b.role_id and a.natual_week = b.natual_week;"})

2025-03-10 10:19:34.175 - MainThread - pydbapi.sql.parse - WARNING - parse.py - 210 - 【Final Arguments】【sql02_base.sql】 Use arguments {'end_date': "'2025-12-29'", 'start_date': "'2024-10-01'"}
2025-03-10 10:19:34.177 - MainThread - pydbapi.db.fileexec - INFO - fileexec.py - 40 - >>> START 【001】No Description

[304201 rows]date,month,natualweek_turn_month...
end D:\我的坚果云\work\Sincetimes_DOW\9999-99-99 DOW 周报 3.0\sqls\sql01_base.sql
start D:\我的坚果云\work\Sincetimes_DOW\9999-99-99 DOW 周报 3.0\sqls\sql02_base.sql
D:\我的坚果云\work\Sincetimes_DOW\9999-99-99 DOW 周报 3.0\ sql02_base

2025-03-10 10:19:35.866 - MainThread - pydbapi.db.fileexec - INFO - fileexec.py - 49 - ==================End Job 【sql02_base.sql】, cost 1.70 seconds===================
2025-03-10 10:19:35.868 - MainThread - pydbapi.sql.parse - WARNING - parse.py - 210 - 【Final Arguments】【sql02_base.sql】 Use arguments {'end_date': "'2025-12-29'", 'start_date': "'2024-10-01'"}
2025-03-10 10:19:35.879 - MainThread - pydbapi.sql.parse - WARNING - parse.py - 210 - 【Final Arguments】【sql03_base.sql】 Use arguments {'end_date': "'2025-12-29'", 'pay_month': "'2024-11-01'", 'start_date': "'2024-11-01'"}
2025-03-10 10:19:35.880 - MainThread - pydbapi.db.fileexec - INFO - fileexec.py - 40 - >>> START 【001】No Description

({'end_date': "'2025-12-29'", 'start_date': "'2024-10-01'"}, {'【001】No Description': "with ads_data as(\nselect date, sum(dau) as dau, sum(last7_dau) as last7_dau, sum(last30_dau) as last30_dau\nfrom hive.dow_jpnew_w.ads_active_daily_di\nwhere part_date >= '2024-10-01' and part_date <= '2025-12-29'\ngroup by 1\n), \n\ndate_process_cal01 as(\nselect date, date_trunc('month', date) as month, \nlast_day_of_month(date) as last_of_month, \ndate_trunc('month', date_add('day', 6, date_trunc('week', date))) as natualweek_turn_month, \ndate_trunc('week', date) as start_natualweek, \ndate_add('day', 6, date_trunc('week', date)) as end_natualweek, \n7-day_of_week(date) as sunday_diff, \nday_of_week(date)-1 as monday_diff, \ndau, last7_dau, last30_dau\nfrom ads_data\n), \n\ndate_process_cal02 as(\nselect date, month, \nlast_of_month, natualweek_turn_month, \nstart_natualweek, end_natualweek, \nsunday_diff, monday_diff, \n(case when date = month then date \nwhen date_add('day', -monday_diff, date) < month then month\nelse start_natualweek end) as start_week, \n(case when date = last_of_month then date \nwhen date_add('day', sunday_diff, date) > last_of_month then last_of_month\nelse date_add('day', sunday_diff, date) end) as end_week, \ndau, last7_dau, last30_dau\nfrom date_process_cal01\n) \n\nselect date, month, \nnatualweek_turn_month, start_natualweek, end_natualweek, \nstart_week, end_week, \nconcat(date_format(start_natualweek, '%m%d'), '-', date_format(end_natualweek, '%m%d')) as natual_week, \nconcat(date_format(start_week, '%m%d'), '-', date_format(end_week, '%m%d')) as week, \ndau, last7_dau, last30_dau\nfrom date_process_cal02;"})
[161 rows]date,month,natualweek_turn_month...
end D:\我的坚果云\work\Sincetimes_DOW\9999-99-99 DOW 周报 3.0\sqls\sql02_base.sql
start D:\我的坚果云\work\Sincetimes_DOW\9999-99-99 DOW 周报 3.0\sqls\sql03_base.sql
D:\我的坚果云\work\Sincetimes_DOW\9999-99-99 DOW 周报 3.0\ sql03_base

2025-03-10 10:19:45.020 - MainThread - pydbapi.db.fileexec - INFO - fileexec.py - 49 - ==================End Job 【sql03_base.sql】, cost 9.15 seconds===================
2025-03-10 10:19:45.022 - MainThread - pydbapi.sql.parse - WARNING - parse.py - 210 - 【Final Arguments】【sql03_base.sql】 Use arguments {'end_date': "'2025-12-29'", 'pay_month': "'2024-11-01'", 'start_date': "'2024-11-01'"}
2025-03-10 10:19:45.033 - MainThread - pydbapi.sql.parse - WARNING - parse.py - 210 - 【Final Arguments】【sql04_base.sql】 Use arguments {'end_date': "'2025-12-29'", 'start_date': "'2024-10-01'"}
2025-03-10 10:19:45.034 - MainThread - pydbapi.db.fileexec - INFO - fileexec.py - 40 - >>> START 【001】No Description

({'end_date': "'2025-12-29'", 'pay_month': "'2024-11-01'", 'start_date': "'2024-11-01'"}, {'【001】No Description': "with month_tag as(\nselect role_id, month, is_test, pay_tag\nfrom hive.dow_jpnew_w.dws_user_info_mi\nwhere month = date '2024-11-01'\n), \n\nuser_daily as(\nselect a.date, a.role_id, \ncoalesce(c.pay_tag, '未活跃') as pay_tag, \n-- coalesce(d.pay_tag, '未活跃') as last1_tag, \nb.is_pay, a.money, a.money * 0.052102 as money_rmb, a.pay_count\nfrom hive.dow_jpnew_w.dws_user_daily_di a\nleft join hive.dow_jpnew_w.dws_user_daily_derive_di b\non a.role_id = b.role_id and a.date = b.date\nleft join month_tag c\non a.role_id = c.role_id\n-- left join month_tag d\n-- on a.role_id = d.role_id and date_trunc('month', a.date) = date_add('month', 1, d.month)\nwhere a.part_date >= '2024-11-01'\nand a.part_date <= '2025-12-29'\nand a.is_test is null\n), \n\ndate_process_cal01 as(\nselect date, date_trunc('month', date) as month, \nlast_day_of_month(date) as last_of_month, \ndate_trunc('month', date_add('day', 6, date_trunc('week', date))) as natualweek_turn_month, \ndate_trunc('week', date) as start_natualweek, \ndate_add('day', 6, date_trunc('week', date)) as end_natualweek, \n7-day_of_week(date) as sunday_diff, \nday_of_week(date)-1 as monday_diff, \nrole_id, pay_tag, \n-- last1_tag, \nis_pay, money_rmb, pay_count\nfrom user_daily\n), \n\ndate_process_cal02 as(\nselect date, month, \nlast_of_month, natualweek_turn_month, \nstart_natualweek, end_natualweek, \nsunday_diff, monday_diff, \n(case when date = month then date \nwhen date_add('day', -monday_diff, date) < month then month\nelse start_natualweek end) as start_week, \n(case when date = last_of_month then date \nwhen date_add('day', sunday_diff, date) > last_of_month then last_of_month\nelse date_add('day', sunday_diff, date) end) as end_week, \nrole_id, pay_tag, \n-- last1_tag, \nis_pay, money_rmb, pay_count\nfrom date_process_cal01\n), \n\ndate_process_info as(\nselect date, month, \nnatualweek_turn_month, start_natualweek, end_natualweek, \nstart_week, end_week, \nconcat(date_format(start_natualweek, '%m%d'), '-', date_format(end_natualweek, '%m%d')) as natual_week, \nconcat(date_format(start_week, '%m%d'), '-', date_format(end_week, '%m%d')) as week, \nrole_id, pay_tag, \n-- last1_tag, \nis_pay, money_rmb, pay_count\nfrom date_process_cal02\n), \n\nmonthly_agg as(\nselect month, pay_tag, count(distinct role_id) as last_mau\nfrom date_process_info\nwhere month = date '2024-11-01'\ngroup by 1, 2\n), \n\nweekly_info as(\nselect month, start_week, end_week, week, \npay_tag, role_id, \nsum(pay_count) as weekly_paycount\nfrom date_process_info\ngroup by 1, 2, 3, 4, 5, 6\n), \n\nweekly_agg as(\nselect month, start_week, end_week, week, pay_tag, \ncount(distinct role_id) as wau, \ncount(distinct case when weekly_paycount>0 then role_id else null end) is_weeklypay\nfrom weekly_info\ngroup by 1, 2, 3, 4, 5\n)\n\nselect a.start_week, a.end_week, a.week, a.pay_tag, \nb.last_mau, a.wau, a.is_weeklypay\nfrom weekly_agg a\nleft join monthly_agg b\non a.pay_tag = b.pay_tag;"})
[163 rows]start_week,end_week,week...
end D:\我的坚果云\work\Sincetimes_DOW\9999-99-99 DOW 周报 3.0\sqls\sql03_base.sql
start D:\我的坚果云\work\Sincetimes_DOW\9999-99-99 DOW 周报 3.0\sqls\sql04_base.sql
D:\我的坚果云\work\Sincetimes_DOW\9999-99-99 DOW 周报 3.0\ sql04_base

2025-03-10 10:19:54.671 - MainThread - pydbapi.db.fileexec - INFO - fileexec.py - 49 - ==================End Job 【sql04_base.sql】, cost 9.65 seconds===================
2025-03-10 10:19:54.673 - MainThread - pydbapi.sql.parse - WARNING - parse.py - 210 - 【Final Arguments】【sql04_base.sql】 Use arguments {'end_date': "'2025-12-29'", 'start_date': "'2024-10-01'"}
2025-03-10 10:19:54.780 - MainThread - pydbapi.sql.parse - WARNING - parse.py - 210 - 【Final Arguments】【sql05_base.sql】 Use arguments {'end_date': "'2025-12-29'", 'start_date': "'2024-10-01'"}
2025-03-10 10:19:54.781 - MainThread - pydbapi.db.fileexec - INFO - fileexec.py - 40 - >>> START 【001】No Description

({'end_date': "'2025-12-29'", 'start_date': "'2024-10-01'"}, {'【001】No Description': "with month_tag as(\nselect role_id, month, is_test, pay_tag\nfrom hive.dow_jpnew_w.dws_user_info_mi\n), \n\npayment_log as(\nselect part_date, date(part_date) as date, event_time, \na.role_id, open_id, \na.payment_itemid, b.payment_act, b.payment_name, \na.pay_source, currency, money, money * 0.052102 as money_rmb\nfrom hive.dow_jpnew_r.dwd_gserver_payment_live a\nleft join hive.dow_jpnew_w.dim_gserver_payment_paymentitemid b\non a.payment_itemid = b.payment_itemid\nwhere part_date >= '2024-10-01'\nand part_date <= '2025-12-29'\n), \n\npaymentdetail_log as(\nselect part_date, date(part_date) as date, event_time, \nrole_id, open_id, \na.payment_item_id as payment_itemid, b.payment_act, b.payment_name, \nitems_detail, rawmoney * 0.052102 as money_rmb\nfrom hive.dow_jpnew_r.dwd_gserver_paymentdetail_live a\nleft join hive.dow_jpnew_w.dim_gserver_payment_paymentitemid b\non a.payment_item_id = b.payment_itemid\n), \n\npaymentdetail_explore_log as(\nselect part_date, date, event_time, \nrole_id, open_id, \npayment_itemid, payment_act, payment_name, items_detail, \njson_extract_scalar(t.item, '$.item_id') as item_id,\ncast(json_extract_scalar(t.item, '$.itemcount') as bigint) as item_count\nfrom paymentdetail_log\ncross join unnest(items_detail) as t(item)\n), \n\npayment_daily_info as(\nselect part_date, date, role_id, \npayment_itemid, payment_act, payment_name, \nsum(money_rmb) as money_rmb\nfrom payment_log\ngroup by 1, 2, 3, 4, 5, 6\n), \n\npaymentdetail_daily_info as(\nselect part_date, date, role_id, \npayment_itemid, payment_act, payment_name, \nsum(item_count) as paid_add\nfrom paymentdetail_explore_log\nwhere item_id = '1'\ngroup by 1, 2, 3, 4, 5, 6\n), \n\npayment_join as(\nselect a.part_date, a.date, a.role_id, \na.payment_itemid, a.payment_act, a.payment_name, \na.money_rmb, b.paid_add\nfrom payment_daily_info a\nleft join paymentdetail_daily_info b\non a.part_date = b.part_date and a.role_id = b.role_id\nand a.payment_itemid = b.payment_itemid\n), \n\ndate_process_cal01 as(\nselect date, date_trunc('month', date) as month, \nlast_day_of_month(date) as last_of_month, \ndate_trunc('month', date_add('day', 6, date_trunc('week', date))) as natualweek_turn_month, \ndate_trunc('week', date) as start_natualweek, \ndate_add('day', 6, date_trunc('week', date)) as end_natualweek, \n7-day_of_week(date) as sunday_diff, \nday_of_week(date)-1 as monday_diff, \nrole_id, payment_itemid, payment_act, payment_name, \nmoney_rmb, paid_add\nfrom payment_join\n), \n\ndate_process_cal02 as(\nselect date, month, \nlast_of_month, natualweek_turn_month, \nstart_natualweek, end_natualweek, \nsunday_diff, monday_diff, \n(case when date = month then date \nwhen date_add('day', -monday_diff, date) < month then month\nelse start_natualweek end) as start_week, \n(case when date = last_of_month then date \nwhen date_add('day', sunday_diff, date) > last_of_month then last_of_month\nelse date_add('day', sunday_diff, date) end) as end_week, \nrole_id, payment_itemid, payment_act, payment_name, \nmoney_rmb, paid_add\nfrom date_process_cal01\n), \n\ndate_process_info as(\nselect date, a.month, \nnatualweek_turn_month, start_natualweek, end_natualweek, \nstart_week, end_week, \nconcat(date_format(start_natualweek, '%m%d'), '-', date_format(end_natualweek, '%m%d')) as natual_week, \nconcat(date_format(start_week, '%m%d'), '-', date_format(end_week, '%m%d')) as week, \na.role_id, coalesce(c.pay_tag, '未活跃') as last1_paytag, \npayment_itemid, payment_act, payment_name, \nmoney_rmb, paid_add\nfrom date_process_cal02 a\nleft join month_tag c\non a.role_id = c.role_id and a.natualweek_turn_month = date_add('month', 1, c.month)\n), \n\ngroup_cal01 as(\nselect 'paymentname_date_group' as type, \ncast(date as varchar) as period, last1_paytag, \npayment_act as dtype1, payment_name as dtype2, \ncount(distinct role_id) as users, \nsum(money_rmb) as money_rmb, \nsum(paid_add) as paid_add\nfrom date_process_info\ngroup by 1, 2, 3, 4, 5\n), \n\ngroup_cal02 as(\nselect 'paymentname_week_group' as type, \nnatual_week as period, last1_paytag, \npayment_act as dtype1, payment_name as dtype2, \ncount(distinct role_id) as users, \nsum(money_rmb) as money_rmb, \nsum(paid_add) as paid_add\nfrom date_process_info\ngroup by 1, 2, 3, 4, 5\n), \n\ngroup_cal03 as(\nselect 'paymentact_week_group' as type, \nnatual_week as period, last1_paytag, \npayment_act as dtype1, null as dtype2, \ncount(distinct role_id) as users, \nsum(money_rmb) as money_rmb, \nsum(paid_add) as paid_add\nfrom date_process_info\ngroup by 1, 2, 3, 4, 5\n)\n\nselect * from group_cal01\nunion all\nselect * from group_cal02\nunion all\nselect * from group_cal03"})
[26482 rows]type,period,last1_paytag...
end D:\我的坚果云\work\Sincetimes_DOW\9999-99-99 DOW 周报 3.0\sqls\sql04_base.sql
start D:\我的坚果云\work\Sincetimes_DOW\9999-99-99 DOW 周报 3.0\sqls\sql05_base.sql
D:\我的坚果云\work\Sincetimes_DOW\9999-99-99 DOW 周报 3.0\ sql05_base

2025-03-10 10:20:04.133 - MainThread - pydbapi.db.fileexec - INFO - fileexec.py - 49 - ==================End Job 【sql05_base.sql】, cost 9.36 seconds===================
2025-03-10 10:20:04.136 - MainThread - pydbapi.sql.parse - WARNING - parse.py - 210 - 【Final Arguments】【sql05_base.sql】 Use arguments {'end_date': "'2025-12-29'", 'start_date': "'2024-10-01'"}

({'end_date': "'2025-12-29'", 'start_date': "'2024-10-01'"}, {'【001】No Description': "with month_tag as(\nselect role_id, month, is_test, pay_tag\nfrom hive.dow_jpnew_w.dws_user_info_mi\n-- where part_month = $pay_month\n), \n\ncore_log_base as(\nselect part_date, date(part_date) as date, event_time, \na.role_id, open_id, adid, \nzone_id, vip_level, level, rank_level, \nreason, reason_cn, event_type, \ncoalesce(free_num, 0) as free_num, coalesce(paid_num, 0) as paid_num, \ncoalesce(free_end, 0) as free_end, coalesce(paid_end, 0) as paid_end\nfrom hive.dow_jpnew_r.dwd_gserver_corechange_live a\nleft join hive.dow_jpnew_w.dim_gserver_addgold_reason b\non a.reason = b.id\nwhere part_date >= '2024-10-01'\nand part_date <= '2025-12-29'\nand reason != '638'\n), \n\ncore_log as(\nselect part_date, date, event_time, \nrole_id, open_id, adid, \nzone_id, vip_level, level, rank_level, \n(case when reason in('4', '933', '192', '399', '362', '307', '932', '20300', '10052', '10079', '194', '245', '937', '19601', '19602') then 'gold_paid' \nwhen reason in('387', '601', '602', '196', '310', '372', '239', '13001', '207', '240', '191', '193', '305', '101', '608', '678', '306', '2', '311', '680', '171', '17001', '10071', '354', '103') then 'gold_free'\nwhen reason in('15', '316') then 'special'\nelse 'other' end) as reason_type, reason, reason_cn, \n(case when event_type = 'gain' then free_num + paid_num else null end) as core_add, \n(case when event_type = 'cost' then free_num + paid_num else null end) as core_cost\nfrom core_log_base\n), \n\ndate_process_cal01 as(\nselect date, date_trunc('month', date) as month, \nlast_day_of_month(date) as last_of_month, \ndate_trunc('month', date_add('day', 6, date_trunc('week', date))) as natualweek_turn_month, \ndate_trunc('week', date) as start_natualweek, \ndate_add('day', 6, date_trunc('week', date)) as end_natualweek, \n7-day_of_week(date) as sunday_diff, \nday_of_week(date)-1 as monday_diff, \nrole_id, reason_type, reason, reason_cn, \ncore_add, core_cost\nfrom core_log\n), \n\ndate_process_cal02 as(\nselect date, month, \nlast_of_month, natualweek_turn_month, \nstart_natualweek, end_natualweek, \nsunday_diff, monday_diff, \n(case when date = month then date \nwhen date_add('day', -monday_diff, date) < month then month\nelse start_natualweek end) as start_week, \n(case when date = last_of_month then date \nwhen date_add('day', sunday_diff, date) > last_of_month then last_of_month\nelse date_add('day', sunday_diff, date) end) as end_week, \nrole_id, reason_type, reason, reason_cn, \ncore_add, core_cost\nfrom date_process_cal01\n), \n\ndate_process_info as(\nselect date, a.month, \nnatualweek_turn_month, start_natualweek, end_natualweek, \nstart_week, end_week, \nconcat(date_format(start_natualweek, '%m%d'), '-', date_format(end_natualweek, '%m%d')) as natual_week, \nconcat(date_format(start_week, '%m%d'), '-', date_format(end_week, '%m%d')) as week, \na.role_id, coalesce(c.pay_tag, '未活跃') as last1_paytag, reason_type, reason, reason_cn, \ncore_add, core_cost\nfrom date_process_cal02 a\nleft join month_tag c\non a.role_id = c.role_id and a.natualweek_turn_month = date_add('month', 1, c.month)\n)\n\nselect start_natualweek, end_natualweek, natual_week, \nreason_type, reason, reason_cn, last1_paytag, \ncount(distinct role_id) as users, \nsum(core_add) as core_add, \nsum(core_cost) as core_cost\nfrom date_process_info\ngroup by 1, 2, 3, 4, 5, 6, 7"})
[9098 rows]start_natualweek,end_natualweek,natual_week...
end D:\我的坚果云\work\Sincetimes_DOW\9999-99-99 DOW 周报 3.0\sqls\sql05_base.sql

In [19]:
act_conf = pd.read_csv(r'D:\我的坚果云\work\GIT\junction_table\dow\map\dim_gserver_activity_act.csv', parse_dates=['start_date', 'end_date', 'month'])
# act_conf.info()
act_conf = act_conf.sort_values('start_date')

act_conf['last_startdate'] = act_conf.groupby(['act_name'])['start_date'].shift(1)
act_conf['last_enddate'] = act_conf.groupby(['act_name'])['end_date'].shift(1)
# act_conf['paytag'] = act_conf.groupby(['act_name'])['month'].shift(1)
act_conf['paytag'] = act_conf['month']
act_conf['data_start'] = act_conf.apply(lambda x: x.month if x.month <= x.last_startdate else x.last_startdate, axis=1)

last_date = datetime.today()
last_date = last_date.replace(hour=0, minute=0, second=0, microsecond=0)
week_day = datetime.weekday(last_date)
last_monday = last_date - timedelta(days = week_day + 7)
last_friday = last_date - timedelta(days = week_day -3)
yesterday = last_date - timedelta(days = 1)
this_tuesday = last_date - timedelta(days = 14)
# act_select = act_conf[(act_conf.end_date>last_monday)&(act_conf.end_date<last_date)]
act_select = act_conf[(act_conf.end_date>last_friday)&(act_conf.end_date<last_date)&(act_conf.act_name.isin(['行脚商人']))]
# act_select = act_conf[(act_conf.end_date>last_monday)&(act_conf.end_date<last_date)]
# act_select = act_conf[(act_conf.act_name.isin(['周年活跃活动']))&(act_conf.end_date>=pd.to_datetime('2024-10-30'))]
# act_select = act_conf[(act_conf.act_name.isin(['周年招募']))&(act_conf.end_date>=pd.to_datetime('2024-10-07'))&(act_conf.end_date<=pd.to_datetime('2024-10-13'))]
# act_select = act_conf[(act_conf.end_date>last_monday)&(act_conf.act_name.isin(['超级转盘']))]
# act_select
# act_list = act_select.code.unique().tolist()
act_select

Empty DataFrame
Columns: [act_name, start_date, end_date, code, month, last_startdate, last_enddate, paytag, data_start]
Index: []

In [ ]:
### act_select = act_select.copy()

act_select['start_date'] = act_select['start_date'].apply(lambda x: x.strftime('%Y-%m-%d'))
act_select['end_date'] = act_select['end_date'].apply(lambda x: x.strftime('%Y-%m-%d'))
act_select['month'] = act_select['month'].apply(lambda x: x.strftime('%Y-%m-%d'))
act_select['last_startdate'] = act_select['last_startdate'].apply(lambda x: np.nan if pd.isna(x) else x.strftime('%Y-%m-%d'))
act_select['last_enddate'] = act_select['last_enddate'].apply(lambda x: x.strftime('%Y-%m-%d'))
act_select['paytag'] = act_select['paytag'].apply(lambda x: x.strftime('%Y-%m-%d'))
act_select['data_start'] = act_select['data_start'].apply(lambda x: x.strftime('%Y-%m-%d'))


# act_select.info()

In [9]:
act_select

,act_name,start_date,end_date,code,month,last_startdate,last_enddate,paytag,data_start
332,行脚商人,2025-03-03,2025-03-05,shop,2025-02-01,2025-02-19,2025-02-22,2025-02-01,2025-02-01
340,行脚商人,2025-03-07,2025-03-10,shop,2025-02-01,2025-03-03,2025-03-05,2025-02-01,2025-02-01

In [10]:
act_list = {}

for item in file_list.items():
    # print(item)
    file_name, file_path = item
    file_name, file_type = os.path.splitext(os.path.basename(file_path))
    # print(file_name, file_type)
    act_name = file_name.split('_')[-1]
    # print(act_name)
    pay_month = act_select[act_select.code==act_name].paytag.values    
    
    if file_type == '.sql' and len(pay_month) == 1:
        act_list[file_path] = {'pay_month': f"'{pay_month[0]}'"}
        # print(file_name, act_name)
    
act_list

{}

In [11]:
for path, para in act_list.items():    
    # path = path
    # **para = para
    # start_date = para.get('start_date')
    # end_date = para.get('end_date')
    # print(para)
    
    print(f'start {path}')
    get_data(db, path, **para)
    print(f'end {path}')